{{> head}}
{{> navbar}}
<body>

<div id="content">
	<h1>Looking to build or improve your website?</h1>
	<p>Use the contact form below and we'll be in touch soon</p>
	<p>Message sent successfully!</p>
</div>

</body>
{{> footer}}
