{{> head}}
{{> navbar}}
<body>

<section id="about" class="about">
  <h1>WEB DEVELOPER</h1>
  <h2>Ryan Foss</h2>
  <h2>Self-taught Web Developer living in Columbus, Ohio.</h2>
</section>

<section>
  <ul class="skills">
    <li>
      <i class="devicon-html5-plain"></i>
      <p>HTML</p>
    </li>
    <li>
      <i class="devicon-css3-plain"></i>
      <p>CSS</p>
    </li>
    <li>
      <i class="devicon-sass-original"></i>
      <p>SASS</p>
    </li>
    <li>
      <i class="devicon-javascript-plain"></i>
      <p>JavaScript</p>
    </li>
    <li>
      <i class="devicon-nodejs-plain"></i>
      <p>Node.js</p>
    </li>
    <li>
      <i class="devicon-express-original"></i>
      <p>Express.js</p>
    </li>
    <li>
      <i class="devicon-react-plain"></i>
      <p>React.js</p>
    </li>
    <li>
      <i class="devicon-mongodb-plain"></i>
      <p>MongoDB</p>
    </li>
    <li>
      <i class="devicon-mocha-plain"></i>
      <p>Mocha</p>
    </li>
    <li>
      <i class="devicon-webpack-plain"></i>
      <p>Webpack</p>
    </li>
    <li>
      <i class="devicon-gulp-plain"></i>
      <p>Gulp</p>
    </li>
    <li>
      <i class="devicon-git-plain"></i>
      <p>Git</p>
    </li>    
  </ul>
</section>

<h1 id="portfolio">Portfolio</h1>

<section class="portfolio">

    <div class="portfolio--images container">
      <img src="/img/myMovies.PNG" title="myMovies" alt="myMovies" />
      <div class="centered">
        <a href="https://foss-mymovies.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/MyMovies" target="_blank">Code</a>
      </div>
      <p>Movie Lists</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/Simon Game.PNG" title="Simon Game" alt="Simon Game" />
      <div class="centered">
        <a href="https://rfoss92.github.io/SimonGame/index" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/SimonGame" target="_blank">Code</a>
      </div>        
      <p>Simon Game</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/Welcome.PNG" title="Welcome" alt="Welcome" />
      <div class="centered">
        <a href="https://rfoss92.github.io/Welcome" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/Welcome" target="_blank">Code</a>
      </div>           
      <p>Welcome App</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/AlanWatts.PNG" title="Ryan's Tribute to Alan Watts" alt="Ryan's Tribute to Alan Watts" />
      <div class="centered">
        <a href="https://rfoss92.github.io/AlanWatts/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/AlanWatts" target="_blank">Code</a>
      </div>
      <p>Alan Watts Tribute</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/Calculator.PNG" title="Calculator" alt="Calculator" />
      <div class="centered">
        <a href="https://rfoss92.github.io/Calculator/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/Calculator" target="_blank">Code</a>
      </div>        
      <p>Calculator</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/Pomodoro.PNG" title="Pomodoro" alt="Pomodoro" />
      <div class="centered">
        <a href="https://rfoss92.github.io/Pomodoro/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/Pomodoro" target="_blank">Code</a>
      </div>          
      <p>Pomodoro</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/todo.PNG" title="todoApp" alt="todoApp" />
      <div class="centered">
        <a href="https://foss-todo.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/ToDoApp" target="_blank">Code</a>
      </div>         
      <p>To Do App</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/ChatApp.PNG" title="ChatApp" alt="ChatApp" />
      <div class="centered">
        <a href="https://foss-chatapp.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/ChatApp" target="_blank">Code</a>
      </div>           
      <p>Chat App</p>
    </div>

    <div class="portfolio--images container">
      <img src="/img/OCC.PNG" title="Ohio Christian Church" alt="Ohio Christian Church" />
      <div class="centered">
        <a href="https://ontario-christian-church.herokuapp.com/" target="_blank">Live</a>
        <a href="https://github.com/rfoss92/OntarioChristianChurch" target="_blank">Code</a>
      </div>           
      <p>Ontario Christian Church</p>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/Index.js"></script>
</body>
{{> footer}}
