{{> head}}
{{> navbar}}
<body>

<section id="about" class="about">
  <h1>WEB DEVELOPER</h1>
  <p>Hello, my name is Ryan Foss.</p>
  <p>
    I'm a self-taught Web Developer living in Columbus, Ohio.
  </p>
  <p>
    My interest in technology and passion for learning led me to teach myself web development
    and I still can't get enough.
  </p>
  <p>
    When I'm not working, I enjoy reading classic Sci-fi novels and books on useful
    subjects, such as nutrition, weight lifting, and philosophy. I also love discovering new
    music, films, and video games so I can recommend hidden gems that rarely see the spotlight.
  </p>
</section>

<section>
  <h1>The Tools I Use</h1>
  <ul class="skills">
    <li>
      <i class="devicon-html5-plain"></i>
      <p>HTML</p>
    </li>
    <li>
      <i class="devicon-css3-plain"></i>
      <p>CSS</p>
    </li>
    <li>
      <i class="devicon-sass-original"></i>
      <p>SASS</p>
    </li>
    <li>
      <i class="devicon-javascript-plain"></i>
      <p>JavaScript</p>
    </li>
    <li>
      <i class="devicon-nodejs-plain"></i>
      <p>Node.js</p>
    </li>
    <li>
      <i class="devicon-express-original"></i>
      <p>Express.js</p>
    </li>
    <li>
      <i class="devicon-react-plain"></i>
      <p>React.js</p>
    </li>
    <li>
      <i class="devicon-mongodb-plain"></i>
      <p>MongoDB</p>
    </li>
    <li>
      <i class="devicon-mocha-plain"></i>
      <p>Mocha</p>
    </li>
    <li>
      <i class="devicon-webpack-plain"></i>
      <p>Webpack</p>
    </li>
    <li>
      <i class="devicon-gulp-plain"></i>
      <p>Gulp</p>
    </li>
    <li>
      <i class="devicon-typescript-plain"></i>
      <p>TypeScript</p>
    </li>
  </ul>
</section>

<h1 id="portfolio">Portfolio</h1>

<section class="portfolio">

    <div class="portfolio--images">
      <a href="\SimonGame">
        <img src="/img/Simon Game.PNG" title="Simon Game" alt="Simon Game" />
        <p>Simon Game</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="https://foss-chatapp.herokuapp.com/" target="_blank">
        <img src="/img/ChatApp.PNG" title="ChatApp" alt="ChatApp" />
        <p>Chat App</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="\AlanWatts">
        <img src="/img/AlanWatts.PNG" title="Ryan's Tribute to Alan Watts" alt="Ryan's Tribute to Alan Watts" />
        <p>Alan Watts Tribute Page</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="\Calculator">
        <img src="/img/Calculator.PNG" title="Calculator" alt="Calculator" />
        <p>Calculator</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="\KnowYourStuff">
        <img src="/img/KnowYourStuff.PNG" title="KnowYourStuff" alt="KnowYourStuff" />
        <p>Know Your Stuff</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="\Weather">
        <img src="/img/Weather.PNG" title="Weather" alt="Weather" />
        <p>Weather App</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="\Pomodoro">
        <img src="/img/Pomodoro.PNG" title="Pomodoro" alt="Pomodoro" />
        <p>Pomodoro</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="https://foss-todo.herokuapp.com/" target="_blank">
        <img src="/img/todo.PNG" title="todoApp" alt="todoApp" />
        <p>To Do App</p>
      </a>
    </div>

    <div class="portfolio--images">
      <a href="https://ontario-christian-church.herokuapp.com/" target="_blank">
        <img src="/img/OCC.PNG" title="Ohio Christian Church" alt="Ohio Christian Church" />
        <p>Ontario Christian Church</p>
      </a>
    </div>

</section>

<script src="js/Index.js"></script>
</body>
{{> footer}}
