body {
  color: white;
  font: bold 24px Helvetica, Arial, sans-serif;
  text-align: center;  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 50%),
  url(https://static.pexels.com/photos/113/sky-clouds-cloudy-weather-medium.jpg) fixed;
  background-size: cover;
}
h1 {
  font-weight: bold;
  padding-top: 100px;
}
p {
  padding: 3%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin: 6% 30%;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 10rem;
  }
}
