<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}

<div id="Head">
	<h1>Looking for a quote to build your website?</h1>
	<p>Use the contact form below if you are searching for assistance with your project and we'll be in touch soon</p>
</div>

<p>Message sent successfully!</p>

{{> footer}}

</body>
</html>