{{> head}}
{{> navbar}}
<body>
	<div class="content">
		
	  <h1>Your Weather Report</h1>

	  <section id="main" class="row">
		  <p class="col-md-1"></p>  	  
		  <p id="time" class="col-md-2"></p>  
		  <p id="description" class="col-md-2">Loading...</p>
		  <p id="temp" class="col-md-2"></p>
		  <p id="humidity" class="col-md-2"></p>
		  <p id="wind" class="col-md-2"></p>
		  <p class="col-md-1"></p> 	  
	  </section>
	</div>

<script src="/js/Weather.js"></script>
</body>
{{> footer}}