@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";

// main
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  @include background();  
  @include bodyTheme(); 
}
h1 {
  font-weight: bold;
}
.content {
  min-height: calc(100vh - 100px); 
}
.negativeCenter {
  @include negativeCenter();
}
.positiveCenter {
  @include positiveCenter();
}

/* navbar */
.nav {
  display: inline-block;
  float: none;
  font-size: 14px;
  height: 30px; 
}
.container-fluid {
  text-align: center; 
}
nav {
  li {
    float: left; 
  }
  a {
    text-decoration: none;
    color: white; 
  }
  a:hover {
    color: #cccccc; 
  }
  button {
    background: none;
    border: none;
    padding: 0;
  }
}

/* footer */
footer {
  font-size: 10px;
  color: white;
  text-align: center;   
  padding-top: 20px;
  width: 100%;
  height: 100px;
  background: rgb(34, 34, 34);
  background-size: cover;
  img {
    height: 40px;
    width: 40px;
    margin: 0 12px 10px 12px;
  }
}
