@mixin bodyTheme() {
  font: $font-stack;
  color: $primary-color;
  text-align: center;   
}
@mixin background($bgSize: cover) {
  -webkit-background-size: $bgSize;
  -moz-background-size: $bgSize;
  -o-background-size: $bgSize;
  background-size: $bgSize;  
  background-attachment: fixed;  
}
@mixin negativeCenter($translateY: translateY(-50%)) {
  -webkit-transform: $translateY;
  -ms-transform: $translateY;
  transform: $translateY;
  display: inline-block; 	
  position: relative;
  top: 50%;
}
@mixin positiveCenter($translateY: translateY(50%)) {
  -webkit-transform: $translateY;
  -ms-transform: $translateY;
  transform: $translateY;
  display: inline-block; 	
  position: relative;
  top: 50%;
}