body {
  background-image: url("https://ichef.bbci.co.uk/images/ic/1920x1080/p02vf39n.jpg");
  color: #333;
}
.intro {
  margin: 100px 6% 0 6%; 
}
h1 {
  font-size: 7rem;
} 
h2 {
  font-size: 3rem;
}
hr {
  border-top: 4px solid black;
  margin: 3rem 0;
}
p {
  text-align: justify;  
}
.main {
  padding: 6%;
  background: rgb(204, 204, 204);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(204, 204, 204, 0.7) 20%);
}
.main-image {
  max-width: 90%;
  margin-bottom: 6%;
}
.books {
  padding-top: 6%;
  text-align: center;
  display: flex;
}
.books-book {
 flex: 1;
}
.books img{
  width: 90%;
  border: 4px outset white;
  margin-bottom: 2%;  
}
.books-amazon {
  width: 90%;
}
i {
  font: "Sans-Serif";    
}

@media screen and (min-width: 768px) {
  .intro {
    padding-right: 50%;
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 4rem;
  }  
  p {
    font-size: 2rem;    
  }
  i {
    font-size: 2rem;    
  }
  .main-image {
    max-width: 400px;
  }
  .books img{
    width: 40%;
  }  
  .books-amazon {
    width: 40%;
  }    
}