body {
  font-size: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 50%),
  url('/img/deskCoffee.png'); 
}
.calcBG {
  background: #8b8989;
  padding: 15px;
  margin-top: -100px;
  width: 270px;
  border-radius: 25px;
  border: 2px solid black;
}
.outputBG {
  background: black;
  text-align: right;
  letter-spacing: 3px;
  margin: 0 0 10px 5px;
  padding: 5px;
  width: 227px;
  border-radius: 12px;
}
.buttons button{
  background: #333;  
	width: 50px;
	height: 50px;
	margin: 0 0 10px 2px;
	border: 1px solid #333;
	border-radius: 6px;
	-moz-box-shadow: inset 0 0 10px #666,
	  inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	-webkit-box-shadow:inset 0 0 10px #666,
	  inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	box-shadow:inset 0 0 10px #666,
	  inset 0px 1px #BCD6FF, 0 1px 1px #323643;
}
#ac, #ce{
  background: red;
}
#equalButton {
  background: green;
}
#ac, #equalButton {
  width: 110px;  
}

@media screen and (min-width: 768px){
  .calcBG {
    margin-top: 0;
  }
}