body {
  text-align: center;
  font-family:"Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 50%),
  url('/img/webDevImage.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* ABOUT */

.about {
  padding: 0 15%;
  text-align: justify;
}
h1 {
  font-weight: bold;
  font-size: 10vw;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 100px;
}
p {
  margin-bottom: 16px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 3% 15%;
}
.skills li {
  margin-top: 3%;
  width: 30%;
  overflow: hidden;
}
i {
  font-size: 6vw;
}
.skills p {
  margin-top: 12px;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 64px;
  }
  .about {
    padding: 0 30%;
  }
  .skills {
    margin: 0 33%;
  }
  .skills li {
    width: 25%;
  }
  i {
    font-size: 48px;
  }
}

/* PORTFOLIO*/

.portfolio {
  margin: 3% 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio--images {
  margin: 10px;
  width: 100%;
}
.portfolio img {
  border: 2px solid black;
  width: 100%;
}
a {
  opacity: 0.65;
}
a:hover {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
a p {
  padding: 2%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

@media (max-width:999px) and (min-width:580px) {
  .portfolio--images{
    width: 45%;
  }
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 24px;
  }
  .portfolio {
    margin: 3% 15%;
  }
  .portfolio--images{
    width: 30%;
  }
}
