body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 50%),
  url('/img/webDevImage.jpg');
}

/* ABOUT */

.about {
  padding: 0 9%;
  text-align: left;
}
h1 {  
  font-family: 'Impact';
  letter-spacing: 6px;
  font-size: 13vw;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 100px;
}
h2 {  
  font-family: 'Baskerville';
  font-size: 7vw;
  text-align: center;
  font-weight: bold;
  margin: 25px 0;
}
p { 
  margin-bottom: 1% 0;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 3% 3%;
  font-size: 5vw;
}
.skills li {
  margin-top: 3%;
  width: 40%;
  overflow: hidden;
}
i {
  font-size: 6vw;
}



/* PORTFOLIO*/

.portfolio {
  margin: 3% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio--images {
  margin: 1%;  
  width: 100%;
}
.portfolio img {
  border: 2px solid black;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}
.container:hover {
  img {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    opacity: 0.3;
  }
  .centered {
    opacity: 1;
  }
}
.container p {
  padding: 2%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.container a {
  padding: 2%;
  color: white;
}
.centered {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
}
a:visited
{
  text-decoration: none;
}

@media (max-width: 999px) and (min-width: 580px) {
  .portfolio--images{
    width: 45%;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  .about {
    padding: 0 25%;
  }
  .skills {
    font-size: 4vw;    
    margin: 0 15%;
  }
  .skills li {
    width: 15%;
  }
  i {
    font-size: 48px;
  }
  p {
    font-size: 24px;
  }
  .portfolio {
    margin: 3% 15%;
  }
  .portfolio--images{
    width: 30%;
  }
}