html{
  height:100%;
  overflow-x: hidden;
}

header {
  background-image: url("https://dl.dropbox.com/s/l1gfc5de0vszvue/17499107_1357848760928620_6893333690113314380_n.jpg?dl=0");
  background-size: cover;
        background-repeat: no-repeat;

       background-position: center;
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  -moz-box-shadow: 2px 2px 3px 2px gray;
  box-shadow: 2px 2px 3px 2px gray;
}
.background {
  background:#0086b3;
  margin-top: 8em;
    padding-top: 45px;
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  -moz-box-shadow: 2px 2px 3px 2px gray;
  box-shadow: 2px 2px 3px 2px gray;
}
.layer {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 45px;
  padding-bottom: 6%;
}
body {
  padding-top: 33px;
  padding-bottom: 65px;
  font-family: Arial;
  font-weight: bold;
}
h1 {
  font-size: 64px;
  color: white;
  margin-left: 3%;
  font-weight: 900;
  text-shadow: 2px 2px 3px gray;
}
h2 {
  padding-top: 85px;
  padding-bottom: 0.8em;
  margin-left: 3%;
  position: relative;
  bottom: 65px;
}
h3 {
  font-size: 20px;
  margin: 3%;
  color: white;
  margin-top: 1%;
  font-weight: 900;
  line-height: 3.2em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid white;
  padding: 0;
  margin-right: 3%;
}
hr2 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid;
  padding: 0;
  margin-right: 75%;
  margin-top: 1%;
}
p {
  margin-left: 3%;
  margin-right: 30%;
  position: relative;
  bottom: 65px;
}
.overbg {
  color: white;
}
img {
  margin-left: 3%;
  width: 50%;
}
.image1 {
  float: none;
  margin-bottom:32px;
  position: relative;
  bottom: 65px;
  margin-right: 3%;
  max-width: 450px;
  border: 2px solid black;
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  -moz-box-shadow: 2px 2px 3px 2px gray;
  box-shadow: 2px 2px 3px 2px gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.image2 {
  margin-left: 0%;
  max-width: 3%;
  height: auto;
  border-radius: 25%;
}
a {
  color: blue;
}
a:hover {
  color: purple;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw;
}
iframe{
  width:500px;
}
@media only screen and (min-width: 768px) {
.image1 {
    float: right;
  }
  iframe{
  width:600px;
}
}





/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-radius: 0;
}
/* Links inside the navbar */
.navbar a {
  color: #f2f2f2;
  padding: 1vw;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
li {
  display: inline-block;
}
li a {
  display: inline-block;
  color: white;
}
li a:hover {
  background-color: #111;
  color: rgb(204, 204, 204);
}

.active {
  background-color: #4caf50;
}
/* End of navigation bar */
