body {
  color: white;
  font: 24px Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 50%),
  url(https://static.pexels.com/photos/113/sky-clouds-cloudy-weather-medium.jpg);
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  margin: 0;
  font-weight: bold;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 6%;
}
p {
  padding: 3%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin: 6% 30%;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 96px;
  }
  p{
    font-size: 28px;
  }
}
