body {
  font-family:"Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: bold;
  color: white;
  background: #0086b3;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

/* main */
h1 {
  padding-top: 7%;
  font-size: 48px;
  margin-bottom: 4%;
  clear: both;
}
hr {
  background-color: white;
  height: 4px;
  margin-left: 12%;
  margin-right: 12%;
}
p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3%;
}
input {
  color: grey;
  text-align: center;
  margin-bottom: 2%;
  width: 75%;
}
textarea {
  color: grey;
  text-align: center;
  margin-bottom: 2%;
  width: 75%;
  height: 100px;
  resize: vertical;
}
#Submit {
  background: #0086b3;
  color: white;
  border:  2px solid white;  
  padding: 0.5em;
  font-size: 16px;
  margin-bottom: 25px;
}
#Head{
  margin-top: 1.5%;
  padding-bottom: 1%;
  margin-bottom: 4%;
  background-image: linear-gradient(rgba(23, 104, 172, 0.5), rgba(23, 104, 172, 0.5) 50%), 
  url('/img/webDevImage.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    max-width: 700px;
}
