{{> head}}
{{> navbar}}
<body>

  <section class="content">

    <h1>Pomodoro</h1><hr>

    <section class="settings row">
      <section class="col-md-6">
        <p>Session</p>
        <button id="sessionMinus">-</button>
        <button id="sessionLength">3</button>
        <button id="sessionPlus">+</button>
      </section>
      <section class="col-md-6">
        <p>Break</p>
        <button id="breakMinus">-</button>
        <button id="breakLength">5</button>
        <button id="breakPlus">+</button>
      </section>
    </section>

    <section class="timer">
      <section class="negativeCenter">
        <p id="minutes">3</p>
        <p id="colon">:</p>
        <p id="seconds">00</p>
      </section>
    </section>

    <section class="menu">
      <button id="startButton">Start</button>
      <button id="pauseButton">Pause</button>      
      <button id="resetButton">Reset</button>
    </section>

  </section>

  <audio id="beep" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41203/beep.mp3"></audio>
  <script src="/js/Pomodoro.js"></script>

</body>
{{> footer}}